body {
    background: #fff;
    color: #1d1e1c;
    font-family: Muoto, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.new_prj_main {
    width: 77%;
    margin: auto;
    padding: 20px;
}

.new_prj_heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 24px
}

.new_prj_box2 {
    margin-top: 30px;
}

.new_prj_box2_left_1st {
    text-align: start;
    font-weight: 500;
    height: 100px;
}

.new_prj_box2_left{
    text-align: start;
    font-weight: 500;
    height: 100px;
}



.new_prj_box2_left {
    width: 15%;
}

.new_prj_box2_right {
    width: 85%;
}

.inp_search {
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(29, 30, 28, 0.3);
    border-radius: 4px;
    color: #1d1e1c;
    display: inline-block;
    font-size: 15px;
    height: 34px;
    line-height: 30px;
    max-width: 100%;
    padding: 0 8px;
    vertical-align: middle;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGFyaWEtbGFiZWw9IlNlYXJjaCBpY29uIj4KICA8Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4IiAvPgogIDxsaW5lIHgxPSIyMSIgeTE9IjIxIiB4Mj0iMTYuNjUiIHkyPSIxNi42NSIgLz4KPC9zdmc+Cg==);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 32px;
    transition: width 0.2s;
    width: 100%;
    margin: 10px 0;
}

.new_prj_box2_right_1st_btn {
    color: #1d1e1c9e;
    border-radius: 4px;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0 8px;
    text-align: left;
    width: 85%;
    cursor: pointer;
    max-width: 100%;
    align-items: center;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(29, 30, 28, .3);
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    gap: 4px px;
    height: 34px;
    padding-left: 15px;
}

.new_prj_box2_right_1st_opt p:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.new_prj_box2_right_1st_opt p {
    text-align: start;
    padding-left: 20px;
    height: 35px;
    color: #1d1e1c;
    font-weight: 400;
}

.new_prj_box2_right_1st_opt {}

.new_prj_box2_right_4th p {
    color: #1d1e1cb3;
    display: block;
    font-size: 13px;
    margin-top: 4px;
}

.new_prj_box2_right_6th button {
    color: #2a59c1;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    background: transparent;
    border: 0;
    line-height: inherit;
    padding: 0;
}

.new_prj_box2_right_1st {
    height: 100px;
    margin-left: 145px;
    width: 70%;
}

.new_prj_box2_right_2nd {
    height: 100px;
    margin-left: 14px;
    width: 70%;
}

.new_prj_box2_right_3rd {
    height: 100px;
    margin-left: 15px;
    width: 40%;
}

.new_prj_box2_right_4th {
    height: 100px;
    display: flex;
    margin-left: 15px;
    width: 40%;
    
    
}

.new_prj_box2_right_5th {
    height: 150px;
    margin-left: 80px;
}

.new_prj_box2_right_6th {
    height: 100px;
    margin-left: 60px;
}

.new_prj_box2_right_4th p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
}

.new_prj_box2_right_5th p {
    color: #1d1e1cb3;
    display: block;
    font-size: 13px;
    margin-top: 4px;
}

.new_prj_box4_head {
    display: flex;
    justify-content: space-between;
    background-color: #1d1e1c12;
    color: #1d1e1cb3;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    height: 50px;
    align-items: center;
}

.new_prj_box4_data {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    color: #1d1e1c;
    font-family: Muoto, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* line-height: 1.4; */
    border-collapse: separate;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(29, 30, 28, .25);
    box-sizing: content-box;
    padding: 8px;
    text-align: left;
    align-items: center;
   align-items: center;
}

.new_prj_box4_data_left {
    display: flex;
    width: 20%;
    height: 50px;
}

.new_prj_box4_head_left {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    padding-left: 20px;
}
.new_prj_box4_head_right{
    width: 100px;
    text-align: center;
        color: #1d1e1cb3;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.25;
}
.new_prj_box4_head_right button{
color: #2a59c1;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    background: transparent;
    border: 0;
    line-height: inherit;
    padding: 0;
}

.new_prj_box4_data_left div:nth-child(1) {
    width: 25px;
    height: 28px;
    padding-left: 3%;
    border: 0.5px solid gray;
    border-radius: 7px;
    padding-bottom: 1%;
    margin-right: 20px;


}

.new_prj_box4_data_left div:nth-child(2) {
    vertical-align: middle;
    font-size: 15px;
    font-weight: 450;
    padding-top: 3px;
}
.new_prj_box5_data_right{
    display: flex;
    align-items: center;
    width: 12%;
}
.new_prj_box4_data_right{
width: 3%;
}

.new_prj_box4_data_right input{
background-color: #fff;
    background-position: 50% 50%;
    background-size: 75%;
    border: 1px solid #bbb;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 18px;
    margin: 0 8px -4px -26px;
    vertical-align: baseline;
    width: 18px;
}
.new_prj_box5_data_right input {
    background-color: #fff;
    background-position: 50% 50%;
    background-size: 75%;
    border: 1px solid #bbb;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 18px;
    margin: 0 8px -4px 0px;
    vertical-align: baseline;
    width: 18px;
}

.tag_input_search{
        appearance: none;
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid rgba(29, 30, 28, 0.3);
            border-radius: 4px;
            color: #1d1e1c;
            display: inline-block;
            font-size: 15px;
            height: 34px;
            line-height: 30px;
            max-width: 100%;
            padding: 0 8px;
            vertical-align: middle;
            padding-left: 15px;
            transition: width 0.2s;
            width: 60%;
            margin: 10px 0;
            margin-top: 20px;
}
.new_prj_invite button{
color: #2a59c1;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    background: transparent;
    border: 0;
    line-height: inherit;
    padding: 0;

}
.new_prj_invite{
    color: #1d1e1c;
        font-family: Muoto, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
        font-size: 15px;
        font-weight: 40;
        line-height: 1.4;
        padding-left: 20px;
        margin-top: 10px;
}
.new_prj_boottom_btn{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 20px;
}
.new_prj_save_btn{
padding: 0 16px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    justify-content: center;
    border: 1px solid rgba(29, 30, 28, .3);
    align-items: center;
        background-clip: border-box;
            background-color: #188433;
            border-color: transparent !important;
            color: #fff;
            font-weight: 500;
                border-radius: 10px;
                    font-size: 17px;
                    height: 40px;
                    line-height: 40px;
}
.new_prj_cancel_btn{
padding: 0 16px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    justify-content: center;
    border: 1px solid rgba(29, 30, 28, .3);
    align-items: center;
    background-clip: border-box;
    border-radius: 10px;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
        font-weight: 400;
}
.new_prj_box3{
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.new_prj_type_left{

}
.new_prj_type_right{
    width: 85%;
}
.new_prj_type_right_buttons{
display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: 1fr;
    justify-content: center;
    width: 100%;
     
}

.new_prj_type_left{
    text-align: start;
        font-weight: 500;
        height: 50px;
        
}
.new_prj_type_right_buttons div{
    background: #fff;
        border: 1px solid #bbb;
        border-radius: 4px;
        cursor: pointer;
        display: grid;
        font-size: 15px;
        height: 100%;
        min-height: 34px;
        padding: 4px;
        place-items: center;
        position: relative;
        text-align: center;
       
}
.new_prj_type_right_buttons p:nth-child(1){
font-weight: 500;
margin-bottom: 3px;
}

.new_prj_type_right_2nd_form{
    border: 1px solid #fa5d00;
    background-color: #fff8f1;
    width: 100%;
    height: auto;
    padding: 10px 25px;
    padding-bottom: 30px;
}
.new_prj_type_right_2nd_form_2nddiv{
    /* height: 500px; */
}
.new_prj_type_right_2nd_form_2nddiv option{
font-weight: 500;
line-height: 15px;
}
.new_prj_type_right_2nd_form_2nddiv_check{
    height: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.new_prj_type_right_2nd_form_title{
font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 30px;
}
.new_prj_type_right_2nd_form_text{
    color: #1d1e1cb3;
        margin-bottom: 8px;
        font-size: 15px;
            font-weight: 400;
           
}
.new_prj_type_right_2nd_form_2nddiv_check{
    color: #1d1e1cb3;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 500;
}
.new_prj_type_right_2nd_form_2nddiv_check label{
    margin: 0 10px;
}
.new_prj_type_right_2nd_form_2nddiv_hr{
height: 12px;
    background: black;
}
.new_prj_box2_row{
    display: flex;
}
.new_prj_box2_row p{
}
@media  (max-width : 768px) {
.new_prj_main{
    width: 100%;
    margin: auto;
    padding: 10px;

}
.new_prj_box2_row{
    display: block;
}

.new_prj_box2_left_1st{
    height: 40px;
    margin-top: 20px;
    /* background-color: red; */
}
.new_prj_box2_left{
height: 40px;
width: auto;
}
.new_prj_box2_right_1st{
    margin-left: 0px;
    width: auto;
}
.new_prj_box2_right_2nd {
    margin-left: 0px;
    width: auto;
   
}
.new_prj_box2_right_3rd{
    margin-left: 0px;
    width: auto;
}
.new_prj_box2_right_4th {
    margin-left: 0px;
    width: auto;
}
.new_prj_box2_right_5th {
    margin-left: 0px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
.new_prj_box2_right_6th {
    margin-left: 0px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
.new_prj_box3{
display: block;
}
.new_prj_type_left{

}
.new_prj_type_right_buttons{
}
.new_prj_type_right_buttons p:nth-child(2) {
    display: none;
}
.new_prj_type_right_buttons p:nth-child(1) {
    font-weight: 400;
    font-size: 12px;
    width: 100%;
}
.new_prj_type_right_2nd_form{
    padding: 0 0;
}
}