body{

}
.project_filter_main {
  width: 77%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding:0 0 20px 0px;
}

.project_heading {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    text-align: start;
    width: 77%;
    margin: auto;
    padding:  20px 0;

}



.project_filter_right {
  display: flex;
  width: auto;
  gap: 10px;
}
.project_table_box_parent{
    margin: auto;
}
.second_navbar {
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin: auto;
}
.second_navbar_parent {
  background: #eee;
  box-shadow: inset 0 -1px #bbb;
  padding: 16px 0;
}
.second_navbar_left {
  display: flex;
  gap: 4px;
}
.inp_search {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(29, 30, 28, 0.3);
  border-radius: 4px;
  color: #1d1e1c;
  display: inline-block;
  font-size: 15px;
  height: 34px;
  line-height: 30px;
  max-width: 100%;
  padding: 0 8px;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGFyaWEtbGFiZWw9IlNlYXJjaCBpY29uIj4KICA8Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4IiAvPgogIDxsaW5lIHgxPSIyMSIgeTE9IjIxIiB4Mj0iMTYuNjUiIHkyPSIxNi42NSIgLz4KPC9zdmc+Cg==);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 32px;
  transition: width 0.2s;
  width: 280px;
}
.new_prj_btn {
  background-clip: border-box;
  background-color: #188433;
  border-color: transparent !important;
  color: #fff;
  font-weight: 500;
  border: 1px solid rgba(29, 30, 28, 0.3);
  border-radius: 8px;
  font-size: 15px;
  padding: 0px 16px;
  height: 34px;
  line-height: 34px;
  /* vertical-align: middle; */
  width: auto;
}

.imp_exp_btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(29, 30, 28, 0.3);
  border-radius: 8px;
  color: #1d1e1c;
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  padding: 0 16px;
  vertical-align: middle;
  width: auto;
}

.inp_search:focus {
  width: 400px;
}

.action_btn {
  border-radius: 6px;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  padding: 0 8px;
  cursor: pointer;
  color: #1d1e1c;
  display: inline-flex;
  align-items: center;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(29, 30, 28, 0.3);
  font-weight: 400;
  gap: 4px;
  width: 100px;
}
.actions_opt2{
text-align: left;

            background: transparent;
                border: 0;
                color: #1d1e1c;
                display: block;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.25;
                padding: 8px 24px 8px 16px;
                text-align: left;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
}
.manager_fltr_con p{
    text-align: start;
    padding-left: 20px;
    height: 30px;
}
.client_filter_head{
text-align: start;
font-size: 16px;
text-decoration: solid;
font-weight: 600;
padding:7px 0;
}
.project_filter_left_opt p{
text-align: start;
    padding-left: 20px;
    height: 35px;
}
.project_filter_left_opt p:hover{
background-color: black;
    color: white;
    cursor: pointer;
}
.manager_fltr_con p:hover{
background-color: black;
color: white;
cursor: pointer;
}
.actions_opt2 p{
padding: 5px 5px;
    cursor: pointer;
        color: #1d1e1c;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.25;
            padding: 8px 24px 8px 10px;
                        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
                                "Helvetica Neue", Arial, sans-serif;
                            font-weight: 500;
          
        
}
.act_hr{
margin: 8px 0 8px 0;
}

.actions_opt2 p:nth-child(6):hover {
    background: red;
  
}
.actions_opt2 p:hover {
    background: black;
    color: white;
}
/* .actions_opt2 p:nth-child(3) {
  margin-bottom: 5px;

} */
.prj_nm_tr{
background-color: #1d1e1c12;
    color: #1d1e1cb3;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    height: 35px;
    text-decoration: underline;
}
.prj_nm_thead {
    background-color: #1d1e1c12;
    color: #1d1e1cb3;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    height: 35px;
    border-color: inherit;
    border-collapse: separate;
        border-top: 1px solid rgba(29, 30, 28, .25);
        min-width: 100%;
        table-layout: auto;
        font-size: 14px;
}
.table_div{
    margin: auto;
    width: 77%;
}
thead{
    border-bottom:1px solid black;
}
thead td{
    /* border-bottom: 1px solid lightgray;
    border-top: 1px solid black;
    height: 50px; */

        background-clip: padding-box;
            border-bottom: 1px solid rgba(29, 30, 28, .25);
            box-sizing: content-box;
            padding: 8px;
            text-align: left;
}
tbody td{
            background-clip: padding-box;
                border-bottom: 1px solid rgba(29, 30, 28, .25);
                box-sizing: content-box;
                padding: 8px;
                text-align: left;
}
.td_spent{

/* display: inline-flex; */
height: auto;
/* width:120px; */
/* background-color: red; */

}
.td_spent p:nth-child(2){
margin-left: 20px;
/* padding-bottom: -10px; */
}
.cl_name{
    height: 29px;
    font-weight: 600;
}
.input_box{
    width: 15px;
    height: 15px;
}
    

@media (min-width : 481px) and (max-width : 768px){
.project_filter_main{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.project_filter_left{
    display: flex;
    justify-content: flex-start;
}
.second_navbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    
}
.project_table_box_parent{
    margin: auto;
}
}
@media (min-width : 0px) and (max-width : 480px) {
    .project_filter_main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .project_filter_left {
        display: flex;
        justify-content: flex-start;
    }
    .project_filter_right{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
        .second_navbar {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            width: 90%;
        }
}