.searchDiv{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(140, 133, 133, 0.784);
    background-color: #fff;
    margin-top: 7%;
    margin-bottom: 2%;  
    padding: 15px; 
    border-radius: 15px; 
    gap: 20px;
}
.searchDiv>input{    
    width: 100%;
    font-size: 23px;
}
.searchDiv>input:focus{
    outline: none;
}
.searchIcon{
  font-size: 25px;  
}